:javascript
  function showCiteBox(doi, title) {
    citationInfo['doi'] = doi;
    citationInfo['title'] = title;
    citationInfo['format'] = 'bibtex';

    $('#citation-text').html('');
    updateCiteBox();
    $('#citation-modal').modal();
    spinner.spin(document.getElementById('citation-text'));
  }

  function updateCiteBox() {
    $('#citation-description').text(citationInfo['doi']);
    $('#citation-modal-title').html('Citing &lsquo;' + citationInfo['title'] + '&rsquo;');

    $('#cite-nav li').removeClass('active');
    $('#' + citationInfo['format']).addClass('active');
    
    var typesLookup = {
      'bibtex': 'application/x-bibtex',
      'ris': 'application/x-research-info-systems',
      'apa': 'text/x-bibliography; style=apa',
      'harvard': 'text/x-bibliography; style=harvard3',
      'ieee': 'text/x-bibliography; style=ieee',
      'mla': 'text/x-bibliography; style=mla',
      'vancouver': 'text/x-bibliography; style=vancouver',
      'chicago': 'text/x-bibliography; style=chicago-fullnote-bibliography'
    };

    var contentType = typesLookup[citationInfo['format']] || 'application/x-bibtex';

    var url = 'https://api.crossref.org/v1/works/' + encodeURIComponent(citationInfo['doi']) + '/transform?mailto=crmds@crossref.org'
    
    $.ajax({
      url: url,
      headers: {"Accept": contentType},
      success: function(body) {
        $('#citation-text').text(body);
        spinner.stop();
      }  
    });
  }

  function setCiteBoxFormat(format) {
    citationInfo['format'] = format;
    $('#citation-text').html('');
    spinner.spin(document.getElementById('citation-text'));
    updateCiteBox();
  }

  $(document).ready(function(e) {
    citationInfo = {format: 'bibtex'};
    spinnerOpts = {shadow: true, width: 2, speed: 2};
    spinner = new Spinner(spinnerOpts);
    
    $('#citation-modal-close').click(function(e) {
      $('#citation-modal').modal('hide');
    });

    $('.cite-link').click(function(e) {
      setCiteBoxFormat($(this).parent().attr('id'));
      $('#cite-nav li').removeClass('active');
      $(this).parent().addClass('active');
    });
  });

:css
  .modal pre {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 1em;
    max-height: 300px;
    min-height: 100px;
    overflow-y: scroll;
  }
  .modal {
    width: 75%;
    margin-left: -37.5%;
  }
  
.modal.hide#citation-modal
  .modal-header
    %a.button.close#citation-modal-close &times;
    %h3
      %span#citation-modal-title
  .modal-body
    %ul.nav.nav-tabs#cite-nav
      %li.active.citation-link#bibtex
        %a.cite-link{:href => '#'} BibTeX
      %li.citation-link#ris
        %a.cite-link{:href => '#'} RIS
      %li.citation-link#apa
        %a.cite-link{:href => '#'} APA
      %li.citation-link#harvard
        %a.cite-link{:href => '#'} Harvard
      %li.citation-link#ieee
        %a.cite-link{:href => '#'} IEEE
      %li.citation-link#mla
        %a.cite-link{:href => '#'} MLA
      %li.citation-link#vancouver
        %a.cite-link{:href => '#'} Vancouver
      %li.citation-link#chicago
        %a.cite-link{:href => '#'} Chicago
        
    %pre#citation-text
    
    
