:css
  .cr-red {
    color: rgb(192, 70, 62);
  }
  .home-link, .home-link:visited, .home-link:hover {
    text-decoration: none;
    color: black;
  }
  .simple-nav {
    font-size: 1.2em;
    line-height: 1.1em;
    margin-top: 1em;
  }
  .simple-nav a, .simple-nav a:visited {
    color: grey;
    padding-left: .4em;
  }
  .search-in-header {
    position: relative;
    margin-top: .5em;
    margin-right: 16em;
    width: 22em;
  }
  .search-in-header i {
    position: absolute;
    top: 0.35em;
    left: 0.5em;
    font-size: 1.8em;
    color: #aaa;
  }
  .search-in-header input {
    line-height: 1.2em;
    height: 1.4em;
    font-size: 1.6em;
    width: 22em;
    padding-left: 2em;
  }
  .span-header {
    margin-top: 0.5em;
    margin-bottom: -1em;
  }
  .simple-nav-outer {
    position: relative;
    width: 45em;
  }
  .simple-nav-bump-up {
    margin-top: -1em;
  }
  .simple-nav {
    position: absolute;
    height: 2em;
    top: 50%;
    margin-top: 1em;
    right: 0;
  }
  .simple-nav .pull-right {
    margin-top: -0.05em;
  }
  .simple-nav .pull-right img {
    margin-top: -0.2em;
  }
  .simple-nav > * {
    margin-left: .4em;
  }
  .simple-nav.smaller {
    font-size: 1em;
    line-height: 2em;
  }

- if page[:branding][:search_typeahead] == :funder_name
  :javascript
    $(document).ready(function() {
      var fundersRemote = new Bloodhound({
        name: 'funders',
        datumTokenizer: function(d) { return d.tokens; },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          url: "#{page[:branding][:query_url]}"+'/funders?query=%QUERY',
          filter: function(dataResponse) { return dataResponse.message.items; }
        },
        limit: 16,
        dupDetector: function(r, l) { return false; }
      });

      fundersRemote.initialize();

      var suggestionLayout = Hogan.compile('<p>{{name}} <small>{{location}}</small></p>');

      $('#search-input').typeahead(null, {
        name: 'funders',
        source: fundersRemote.ttAdapter(),
        templates: {
          suggestion: function(d) { return suggestionLayout.render(d) }
        },
        limit: 16
      });

      $('#search-input').bind('typeahead:autocompleted typeahead:selected', function(e, datum) {
        $('#fundref-input').val(datum['id']);
        $('#fundref-form').submit();
      });
    });

  .proxy-form{:style => 'display: none;'}
    %form#fundref-form{:method => 'GET', :action => page[:branding][:search_action]}
      %input#fundref-input{:name => 'q'}

.row-fluid
  .span-header.span3{:style => "padding-top: 0.7em;"}
    %a.home-link{:href => page[:branding][:logo_link]}
      - if page[:big_logo]
        %img{:src => page[:branding][:logo_path]}
      - else
        %img{:src => page[:branding][:logo_small_path]}
  .span-header.span9
    .pull-right
      .simple-nav-outer
        .simple-nav.smaller
          - if page[:branding][:show_profile_link]
            .pull-right
              = partial :profile_link, {}
          - if page[:branding][:header_links_profile] == :fundref
            %a{:href => '/'} Metadata Search
          - elsif page[:branding][:header_links_profile] == :crmds
            %a{:href => '/funding'} Funding Data
            %a{:href => '/references'} Link References
            %a{:href => '/help/status'} Status
            %a{:href => "#{page[:branding][:query_url]}"} API
            %a{:href => '/help/search'} Help
          - elsif page[:branding][:header_links_profile] == :chorus
            %a{:href => 'https://chorusaccess.org'} CHORUS
          - else
            %a{:href => '/help/search'} Help
            %a{:href => '/help/status'} Status
            %a{:href => "#{page[:branding][:query_url]}"} API
    - unless page[:disable_search_box]
      %form#search-form{:method => 'GET', :action => page[:branding][:search_action]}
        .search-in-header
          %input.input.input-xlarge.search-input#search-input{:placeholder => page[:branding][:search_placeholder], :name => 'q', :type => 'text', :value => page[:bare_query]}
          %i.icon-search
          %input#from-ui{:name => 'from_ui', :type => 'hidden', :value => 'yes'}
